{
  "apiKey": "AIzaSyB2TmI9T9b3UQYckyIXEIRIdaBtrgPnPBw",
  "authDomain": "hhs-activity-teams.firebaseapp.com",
  "projectId": "hhs-activity-teams",
  "storageBucket": "hhs-activity-teams.firebasestorage.app",
  "messagingSenderId": "Y627888693207",
  "appId": "1:627888693207:web:4a0b6ee89b878240e6f592"
}
